

.identidad {
  display: flexbox;
  justify-content: center;
  align-items: center;
  background-color: orange;
}

.nombre {
  color: black;
}

.logo {
  height: 150px;
  width: 250px;
  border-radius: 50%;

}
/* img {
    height: 150px;
    width: 250px;
    border-radius: 50%;
    justify-content: center;
    
} */

h1 {
  color: black;
}

body {
 background-color: black;
}

